<div class="about-container">
    <div class="box">
        <h3>Box 1</h3>
        <p>Phasellus fermentum quam nec libero interdum, eget ultricies sapien consectetur.</p>
    </div>
    <div class="box">
        <h3>Box 2</h3>
        <p>Phasellus fermentum quam nec libero interdum, eget ultricies sapien consectetur.</p>
    </div>
    <div class="box">
        <h3>Box 3</h3>
        <p>Phasellus fermentum quam nec libero interdum, eget ultricies sapien consectetur.</p>
    </div>
    <div class="box">
        <h3>Box 4</h3>
        <p>Phasellus fermentum quam nec libero interdum, eget ultricies sapien consectetur.</p>
    </div>
</div>
