table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
th, td {
    border: 1px solid #175e54;
    text-align: left;
    padding: 8px;
   
}
th {
    background-color:  #175e54;
    color: white;
}